/* 
Colores:

La mayoria de las pantallas funcionan como un modo de color aditivo. La suma RGB da como resultado un blanco tenemos varias formas de dar color en css.

Keywords -> Palabras clave que representan colores.

https:// www.w3.org/wiki/css/propieties/color/keywords

IMPORTANTE-> Recordad que existe el color transparente
*/
body{
    margin:0;
    background-color: #333;
}
.box{
    width: 300px;
    height: 300px;
    background-color: lightsalmon;
    color: black;
}
.box1{
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-top: 500px solid red;
}
.box2{
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-bottom: 500px solid red;
}
.box3{
    border-left: 100px solid red;
    border-top: 100px solid blue;
    border-bottom: 100px solid green;
}
.box4{
    border-right: 100px solid red;
    border-top: 100px solid blue;
    border-bottom: 100px solid green;
}
#p{
    text-align: center;
}
style{
    background-color: red;
}