/* 
Border Radius:
Es la propiedad que nos permite redondear vertices de forma independiente.

Es un shorthand que engloba 4 propiedades:

-border-top-left-radius -> Radio del borde superior izquierdo.
-border-top-right-radius -> Radio del borde superior derecho.
-border-bottom-right-radius -> Radio del borde inferior derecho.
-border-bottom-left-radius -> Radio del borde inferior izquierdo.

Si solo recibe un valor dibujara un circulo en cada vertice del radio que especifiquemos.

-border-radius: 50px; - circulo con 50px a cada vertice.

Si utilizamos el border radius como shorthand hay diferencias entre si, queremos dar valor a cada lado (circulo o dos (elipse).

Con un solo valor: 

border-radius: 50px; -> circulo con 50px a cada vertice.

border-radius: 50px 100px; -> Circulo con 50px en el vertice superior izquierdo y ene el inferior derecho y de 100px en el superior derecho e inferior izquierdo.

Con dos valores:

Al tener dos radios debemos agrupar los radios y separarlos por una barra. 
border-radius: 25px / 50px; -> El elipse de 25px en Y y 50px en X a cada vertice.

-border radius: 25px 50px / 50px 100px; -> El elipse de 25 px en Y y 50px en X a los vertices superior izquierdo e inferior derecho y una elipse de 50 px en Y y 100px en X en los vertices superior derecho e inferior izquierdo.

-border-radius: 25px 50px 75px / 50px 100px 150px; -> Elipse de 25px en Y Y 50px en X al vertice superior izquierdo, una elipse de 50px en Y y 100px en X en los vertices superior derecho e inferior izquierdo y una elipse de 75px en Y y de 150px en X al vertice inferior derecho.

-border-radius: 25px 50px 75px 100px / 50px 100px 150px 200px; -> Elipse de 25px en Y y 50px en X al vertice superior izquierdo, una elipse de 50px en Y y 100px en X en el vertice superior derecho una elipse de 75px en Y y de 150px en X al vertice inferior derecho y una elipse de 100px en X y 200px en Y en el vertice inferior izquierdo.
*/
body{
    background-color: black;
    color: white;
}
.block{
    background-color: coral;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 300px;
    height: 300px;
    border-top-right-radius: 50px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 200px;
}
.box{
    background-color: aqua;
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 50px 100px 150px 200px;
}
.box1{
    background-color: chartreuse;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
}