/* 
Selectores CSS
* Selectores simples::after
    *Selectores Elementales.
    *Selectores de Atributo.
*Selectores Compuestos:
    *Selectores AZgrupados.
    *Selectores Combinadores.
    *Pseudo Clases - Pseudoelementales
*/
#title{
    background-color: aqua;
}
.title{
    background-color: crimson;
}
.text{
    background-color: blue;
}