/* 
Position Fixed:

fixed-> El elemento perder치 sus medidas y su espacio reservado. si lo mevemos usar치 el elemento HTML de referencia y ademas quedar치 fijo en esa posici칩n aunqe hagamos scroll.
*/
*{
    box-sizing: border-box;
}   
body{
    margin:0;
    background-color: #333;
    color:#fff;
    padding-top: 70px;
}
.header{
    text-align: center;
    background-color: cyan;
    padding: 25px 0;
    color: orangered;
    position:fixed;
    top:0;
    width: 100%;
}
.foot{
    text-align: center;
    background-color: aqua;
    padding: 25px 0;
    color: orangered;
    position:fixed;
    bottom:0;
    width:100%;
}
